/* 1344px */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}

/* 1200px  */

@media (max-width: 75em) {
  html {
    font-size: 59.375%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  /* .header {
    padding: 0 3.2rem;
  } */

  .section-hero {
    padding-top: 6.4rem;
  }

  .hero-text-box .heading-primary {
    margin-top: 4.8rem;
  }
}

/* 1100px  */

@media (max-width: 68em) {
  .section-hero {
    padding: 3.2rem 0 0;
  }

  .hero-img {
    width: 65%;
  }

  .hero-img-box::before {
    content: "";
    width: 70%;
    padding-bottom: 98%;
  }
}

/* 944px  */

@media (max-width: 59em) {
  html {
    font-size: 56.25%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: repeat(2, 1fr); */
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 10;
  }



  .mobile-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }


  .main-nav-lists {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
  }

  .menu-bar {
    display: block;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3.6rem;
  }

  .main-nav-list--last {
    display: none !important;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box .heading-primary {
    margin: 0 0 2.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-text {
    justify-content: center;
  }

  .hero-description {
    margin-bottom: 3.2rem;
  }

  .profile-links {
    margin: 6.4rem 0 0;
    justify-content: center;
  }

  .hero-img {
    width: 40%;
  }

  .hero-img-box::before {
    width: 48%;
    padding-bottom: 62%;
  }


}

/* 544px*/

@media (max-width: 34em) {
  html {
    font-size: 48.75%;
  }

  .grid {
    row-gap: 4.8rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .btn {
    margin-bottom: 2.4rem;
  }

  .hero-img {
    width: 60%;
  }

  .hero-img-box::before {
    width: 65%;
    padding-bottom: 90%;
  }
}

/* 400px */

@media (max-width: 25em) {
  html {
    font-size: 43.75%;
  }

  .hero-text {
    flex-direction: column;
  }
}
