/* ----------------------------- */
/* ------------Header------------ */
/* ------------------------------ */
.header {
  padding: 0 6.4rem;
  height: 9.6rem;
  /* height: 15vh; */
  background-color: var(--bg-darker);
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 1.5fr;
  align-items: center;
  position: relative;
}

.main-nav-lists {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  justify-content: space-around;
}

.main-nav-list:link,
.main-nav-list:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  padding: 0.8rem;
  /* text-shadow: 0 .4rem .4rem rgba(123, 104, 215, 0.5); */

  transition: all 0.3s linear;
}

.main-nav-list:active,
.main-nav-list:hover {
  color: #7a68d7;
}

.main-nav-list--hover:active,
.main-nav-list--hover:hover {
  box-shadow: 0 0.5rem 0.4rem -0.4rem rgba(123, 104, 215, 0.7);
}

.main-nav-list-contacts {
  display: none !important;
}

.logo:link,
.logo:visited {
  text-transform: capitalize !important;
  font-family: "Berkshire Swash";
  font-size: 2.4rem !important;
  padding: 1.2rem 1.2rem;

  justify-self: left;

  position: relative;
  z-index: 9999;
}

.logo:hover,
.logo:active {
  transition-delay: 1.25s;
  color: #caae54;
}

@keyframes circular-rotation--before--link {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes circular-rotation--before--hover {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes circular-rotation--after--link {
  0% {
    border-bottom: 0.2rem solid var(--bg-darker);
  }

  20% {
    border-bottom: 0.2rem solid var(--bg-darker);
  }

  40% {
    border-bottom: 0.2rem solid var(--bg-darker);
  }

  80% {
    border-bottom: 0.2rem solid var(--bg-darker);
    transform: rotate(75deg);
  }

  100% {
    border-bottom: 0.2rem solid #333;
    transform: rotate(0deg);
  }
}

@keyframes circular-rotation--after--hover {
  0% {
    border-bottom: 0.2rem solid var(--bg-darker);
  }

  20% {
    border-bottom: 0.2rem solid var(--bg-darker);
  }

  40% {
    border-bottom: 0.2rem solid var(--bg-darker);
  }

  80% {
    border-bottom: 0.2rem solid var(--bg-darker);
    transform: rotate(-75deg);
  }

  100% {
    border-bottom: 0.2rem solid #caae54;
    transform: rotate(0deg);
  }
}

.logo::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;

  border-top: 0.2rem solid #333;
  border-radius: 9rem;

  animation-name: circular-rotation--before--link;
  animation-duration: 0.75s;
  animation-iteration-count: 2;
  animation-timing-function: ease-out;

  transition: all 0.3s linear;
}

.logo::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  bottom: 0;

  border-bottom: 0.2rem solid #333;
  border-radius: 9rem;

  /* animation-name: circular-rotation--before--hover; */
  animation-name: circular-rotation--after--link;
  animation-duration: 1.5s;
  /* animation-delay: 1s; */

  transition: all 0.3s linear;
}

.logo:hover.logo::before {
  animation-name: circular-rotation--before--hover;
  animation-duration: 0.75s;
  animation-iteration-count: 2;
  animation-timing-function: ease-out;

  border-top: 0.2rem solid #caae54;
}

.logo:hover.logo::after {
  animation-name: circular-rotation--after--hover;
  animation-duration: 1.5s;
  /* animation-delay: 1s; */

  border-bottom: 0.2rem solid #caae54;
}

.icon--contact {
  color: #7a68d7;
  padding: 1.2rem;
  background-color: #fff;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.main-nav-list--last {
  justify-self: right;
}

@keyframes contact-icon-animation {
  0% {
    transform: rotate(0deg) scale(1.1);
  }

  20% {
    transform: rotate(20deg) scale(1.1);
  }

  40% {
    transform: rotate(-25deg) scale(1.1);
  }

  60% {
    transform: rotate(20deg) scale(1.1);
  }

  80% {
    transform: rotate(-20deg) scale(1.1);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }
}

.main-nav-list--last:hover .icon--contact {
  animation-name: contact-icon-animation;
  animation-duration: 1s;
}

/* ----------------------------- Stop Scrolling ----------------------------- */

.stop-scroll {
  height: 100vh !important;
  overflow: hidden !important;
}

/* ------------ */
/* Hero Section */
/* ------------ */

.section-hero {
  /* height: 85vh; */
  background-color: var(--bg-darker);
  padding-top: 4.8rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: 45fr 55fr;
  /* align-items: center; */
}

.hero-text-box-heading {
  position: relative;
}

.hero-text-box .heading-primary {
  margin-top: 3.2rem;
  z-index: 2;
}

@keyframes bouncing-ball {
  0% {
    transform: translate(75%, -200%);
  }
  22% {
    transform: translate(50%, -40%);
  }
  40% {
    transform: translate(35%, -150%);
  }
  56% {
    transform: translate(22%, -40%);
  }
  70% {
    transform: translate(11%, -100%);
  }

  82% {
    transform: translate(2%, -40%);
  }
  92% {
    transform: translate(-5%, -60%);
  }
}

.hero-text-box-heading::before {
  content: "";
  display: block;
  width: 20%;
  padding-bottom: 20%;
  border-radius: 50%;
  background: linear-gradient(
    155deg,
    rgba(252, 218, 105, 0.25),
    rgba(240, 140, 0, 0.75)
  );
  /* background: linear-gradient(155deg,rgba(77, 171, 247, 0.5),#6741d9); */
  /* background: linear-gradient(155deg, rgba(149, 134, 223, 0.25), rgba(98, 83, 172, 0.75)); */

  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);

  position: absolute;
  top: 0;
  right: 40%;
  transform: translate(-10%, -40%);

  z-index: 1;

  animation-name: bouncing-ball;
  animation-duration: 3s;
  /* animation-timing-function: linear; */
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.hero-text {
  display: flex;
  column-gap: 1.6rem;
}

.hero-description-prefix {
  font-size: 3rem;
}

.hero-description {
  font-size: 1.8rem;
  font-weight: 500;
  max-width: 50ch;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.profile-links {
  margin: 9.6rem 0 8rem 0;

  display: flex;
  column-gap: 2.4rem;
  align-items: center;
}

.profile-links--text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
}

.icon--link:link,
.icon--link:visited {
  color: #333;
  padding: 1.2rem;
  border-radius: 50%;
  background-color: rgba(248, 248, 248, 0.9);
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.05);
}

.icon--link:active,
.icon--link:hover {
  color: #fff;
  background-color: #7a68d7;
  box-shadow: 0 0 2.4rem rgba(123, 104, 215, 0.8);
}

.icon--link:active .icon,
.icon--link:hover .icon {
  transform: scale(1.1);
}

.hero-img-box {
  align-self: end;

  display: flex;
  justify-content: center;

  position: relative;

  overflow: hidden;
}

.hero-img {
  width: 60%;

  z-index: 4;
}

.hero-img-box::before {
  content: "";
  display: block;
  width: 65%;
  padding-bottom: 90%;
  border-radius: 50%;
  /* background: linear-gradient(155deg, rgba(252, 218, 105, 0.75),#f08c00); */
  /* background: linear-gradient(155deg,rgba(77, 171, 247, 0.5),#6741d9); */
  background: linear-gradient(155deg, rgba(175, 164, 231, 0.25), #6253ac);

  position: absolute;
  bottom: 0;
  /* left: 0%; */
  left: 50%;
  /* transform: translate(-0%, 20%); */
  transform: translate(-50%, 20%);

  z-index: 3;
}

@keyframes hero-img-overview-animation {
  0% {
    transform: translate(-150%, -25%);
  }

  40% {
    transform: translate(16%, -25%);
  }

  100% {
    transform: translate(-8%, -25%);
  }
}

.hero-img-overview {
  padding: 1.6rem 3.6rem;
  box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.15);
  border-radius: 0.9rem;
  /* background-color: var(--bg-darker); */
  background: linear-gradient(155deg, #fff, #fff, rgba(98, 83, 172, 0.25));

  position: absolute;
  top: 25%;
  left: 8%;
  transform: translate(-8%, -25%);

  animation-name: hero-img-overview-animation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;

  z-index: 5;

  overflow: hidden;
}

.hero-img-overview .container-formatting {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.hero-img-overview-icon {
  height: 2rem;
  width: 2rem;
  padding: 0.4rem;
  border-radius: 50%;
  background-color: #f03e3e;
  fill: #fff;
}

.hero-img-overview-title {
  color: #333;
  font-size: 1.4rem;
  font-weight: 600;
}

.hero-img-overview-count {
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.hero-img-overview-count span {
  color: #8873ef;
  font-weight: 600;
}

.hero-img-overview-percentage {
  font-size: 1rem;
}

.hero-img-overview-percentage span {
  color: #37b24d;
  font-weight: 600;
}

.hero-img-overview::before {
  content: "";
  display: block;
  width: 20%;
  padding-bottom: 20%;
  border-radius: 50%;
  /* background: linear-gradient(155deg, rgba(252, 218, 105, 0.75),#f08c00); */
  /* background: linear-gradient(155deg,rgba(77, 171, 247, 0.5),#6741d9); */
  background: linear-gradient(
    155deg,
    rgba(175, 164, 231, 0.25),
    rgba(98, 83, 172, 0.65)
  );

  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-35%, -35%);

  z-index: -1;
}

.hero-img-overview::after {
  content: "";
  display: block;
  width: 12%;
  padding-bottom: 12%;
  border-radius: 10%;
  border: 0.35rem solid rgba(230, 119, 0, 0.55);

  position: absolute;
  bottom: -8%;
  right: 5%;
  transform: translate(-5%, 0) rotate(33deg);

  z-index: -1;
}

.hero-img-overview-circle {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(255, 213, 59, 0.4);
  /* border: 3px solid rgba(240, 62, 62, 0.25); */

  position: absolute;
  top: 15%;
  right: 15%;
}

/* -------------------------------------------------------------------------- */
/*                              Services Section                              */
/* -------------------------------------------------------------------------- */

.section-services {
  /* height: 85vh; */
  /* background-color: var(--bg-darker); */
  padding: 9.6rem 0;
}

.services {
  padding: 0 2.4rem;
}

.services-widgets-description {
  /* display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 3.2rem;
  row-gap: 2.4rem; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 4.8rem; */
}

.services-widgets-description-title {
  color: #333;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 2.4rem;
}

.services-description {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
}

.services-description-container {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.services-description-container .description {
  text-align: center;
  letter-spacing: 0.25px;
  justify-self: center;
  color: #555;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 60ch;
}

.learn-more-container {
  display: none;
  align-self: center;
}

.services-description-container .learn-more {
  padding: 2rem 2.4rem;
  border-radius: 0.9rem;
}

.services-widgets {
  margin-top: 9.6rem;
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr 1.1fr 1fr;
  align-items: center;
  gap: 2.8rem;
}

.services-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  padding: 2rem 3.2rem;
  border-radius: 0.9rem;
  /* background-color: #fff; */
  /* border: 0.01px solid #fafafa; */
  /* box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1); */

  transition: all 0.3s;
}

.services-widget:hover {
  transform: scale(1.05);
}

.services-widget--1 {
  position: relative;
  z-index: 9;
  background: linear-gradient(-135deg, #feeeee, #feecec, #fbc5c5, #f68b8b);
  box-shadow: -3.2rem 3.2rem 6.4rem rgba(246, 139, 139, 0.25);
}

.services-widget--2 {
  height: 120%;
  position: relative;
  z-index: 9;
  background: linear-gradient(180deg, #e9f7f3, #e7f6f2, #b6e4d7, #3db893);
  box-shadow: 0 3.2rem 6.4rem rgba(12, 166, 120, 0.25);
}

.services-widget--3 {
  position: relative;
  z-index: 9;
  background: linear-gradient(135deg, #fffaea, #fff9e8, #feedba, #fdd047);
  box-shadow: 3.2rem 3.2rem 6.4rem rgba(245, 159, 0, 0.25);
}

.services-widget--1::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.9rem;
  opacity: 0;
  transition: all 0.5s linear;
  background: linear-gradient(-135deg, #feecec, #f9b2b2, #f68b8b, #f36565);
}

.services-widget--2::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.9rem;
  opacity: 0;
  transition: all 0.5s linear;
  background: linear-gradient(180deg, #e7f6f2, #9edbc9, #3db893, #55c1a1);
}

.services-widget--3::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.9rem;
  opacity: 0;
  transition: all 0.5s linear;
  background: linear-gradient(135deg, #fff9e8, #fee7a3, #fdd047, #fdd65e);
}

.services-widget--1:hover.services-widget--1::before,
.services-widget--2:hover.services-widget--2::before,
.services-widget--3:hover.services-widget--3::before {
  opacity: 1;
}

.services-widget .icon {
  color: #fff;
  --ionicon-stroke-width: 5.2rem;
  height: 2.4rem;
  width: 2.4rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.icon--1 {
  background-color: #f03e3e;
}

.icon--2 {
  background-color: #0ca678;
}

.icon--3 {
  background-color: #fcc419;
}

.services-widget--title {
  color: #333;
  font-size: 1.8rem;
  font-weight: 700;
}

.services-widget--description {
  color: #888;
  font-size: 1.4rem;
  font-weight: 500;
}

.services-widget--icon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

/* .services-widget:hover .services-widget--title, */
.services-widget:hover .services-widget--description {
  color: #555;
}

/* -------------------------------------------------------------------------- */
/*                                 Experience                                 */
/* -------------------------------------------------------------------------- */

.section-experience {
  background-color: var(--bg-darker);
  padding: 9.6rem 0;
}

.experience {
  padding: 0 2.4rem;
}

.section-experience .title {
  font-size: 3.2rem;
  columns: #333;
  text-align: center;
  margin-bottom: 4.8rem;
}

.experience-timeline {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 4.8rem;
  /* row-gap: 4.8rem; */
}

.timeline-left {
  justify-self: right;
}

.timeline-mid {
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.timeline-mid-outline {
  padding: 0.6rem;
  border: 0.2rem dotted #aaa;
  border-radius: 50%;
}

.timeline-mid-outline div {
  padding: 0.6rem;
  border-radius: 50%;
}

.timeline-mid-seperator {
  align-self: stretch;
  justify-self: center;
  margin: 0.2rem 0;
  border-left: 0.2rem dotted #aaa;
}

.timeline-mid-outline--1 div {
  background-color: #d83838;
}

.timeline-mid-outline--2 div {
  background-color: #0b956c;
}

.timeline-mid-outline--3 div {
  background-color: #e3b017;
}

.timeline-right .title,
.timeline-left .title {
  color: #135641;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.timeline-right .description,
.timeline-left .description {
  max-width: 60ch;
  font-size: 1.4rem;
  line-height: 1.8;
  font-weight: 500;
  color: #666;
  margin-bottom: 5.2rem;
}

.timeline-right .description--last,
.timeline-left .description--last {
  margin-bottom: 0rem;
}

.timeline-left .title,
.timeline-left .description {
  text-align: right;
}

.timeline-left--2 {
  justify-self: left;
  grid-row: 2;
  grid-column: 3;
}

.timeline-left--2 .title,
.timeline-left--2 .description {
  text-align: left;
}

.timeline-right--2 {
  justify-self: right;
  grid-row: 2;
  grid-column: 1;
}

.timeline-right--2 .title,
.timeline-right--2 .description {
  text-align: right;
}

/* -------------------------------------------------------------------------- */
/*                                    Works                                   */
/* -------------------------------------------------------------------------- */

.section-works {
  padding: 9.6rem 0;
}

.works {
  padding: 0 2.4rem;
}

.section-works .title {
  font-size: 3.2rem;
  columns: #333;
  text-align: center;
  margin-bottom: 5.2rem;
}

.works-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.2rem;
}

.works-img-container {
  padding: 4.8rem 4.8rem;

  border-radius: 1.1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  /* justify-content: space-between; */
  /* padding: 2.4rem 4.8rem; */
}

.works-img-container--1 {
  /* background: linear-gradient(135deg, #ffff, #feecec, #fbc5c5, #f68b8b); */
  /* background-color: #ffa8a8; */
  background: linear-gradient(-135deg, #feeeee, #feecec, #fbc5c5, #f68b8b);
  box-shadow: -4rem 4rem 8rem rgba(246, 139, 139, 0.25);
}

.works-img-container--2 {
  /* background: linear-gradient(135deg, #ffff, #e7f6f2, #b6e4d7, #3db893); */
  /* background-color: #63e6be; */
  background: linear-gradient(180deg, #e9f7f3, #e7f6f2, #b6e4d7, #3db893);
  box-shadow: 0 4rem 8rem rgba(12, 166, 120, 0.25);
}

.works-img-container--3 {
  /* background: linear-gradient(135deg, #ffff, #fff9e8, #feedba, #fdd047); */
  /* background-color: #ffe066; */
  background: linear-gradient(135deg, #fffaea, #fff9e8, #feedba, #fdd047);
  box-shadow: 4rem 4rem 8rem rgba(245, 159, 0, 0.25);
}

.works-img-container .img-title {
  justify-self: center;
  font-size: 2.4rem;
  font-weight: 700;
  columns: #333;
  margin-bottom: 2rem;
}

.works-img-container .img-description {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.8;
  max-width: 50ch;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.works-img {
  width: 100%;
  border-radius: 1.1rem;
  margin-bottom: 3.2rem;
}

.works--link {
  justify-self: center;
  align-self: end;
  font-size: 1.6rem !important;
  padding: 1.6rem 2.4em !important;
  border-radius: 0.9rem !important;
}

.works--link--1 {
  background-color: #f03e3e !important;
}

.works--link--1:hover {
  box-shadow: 0 0.8rem 1.6rem #f03e3e !important;
}

.works--link--2 {
  background-color: #0ca678 !important;
}

.works--link--2:hover {
  box-shadow: 0 0.8rem 1.6rem #0ca678 !important;
}

.works--link--3 {
  background-color: #e3b017 !important;
}

.works--link--3:hover {
  box-shadow: 0 0.8rem 1.6rem #e3b017 !important;
}

/*
.works-img--1 {
  transform: rotate(-5deg);
}

.works-img--3 {
  transform: rotate(5deg);

} */

/* -------------------------------------------------------------------------- */
/*                                 Testimonial                                */
/* -------------------------------------------------------------------------- */

.section-testimonial {
  padding: 9.6rem 0;
  background-color: #f4f1f8;
}

.testimonial {
  padding: 0 2.4rem;
  max-width: 124.4rem;
}

.testimonial .heading {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  margin-bottom: 8rem;
}

.section-testimonial .title {
  font-size: 3.2rem;
  columns: #333;
  font-weight: 700;
  text-align: center;
}

.section-testimonial .title-details {
  justify-self: center;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.25px;
  max-width: 60ch;
}

.client-testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.2rem;
  align-items: end;
}

.client-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.6rem 1.8rem;
  border-radius: 1.6rem;
}

.client-testimonial--1 {
  background: linear-gradient(-135deg, #feeeee, #feecec, #fbc5c5, #f68b8b);
  box-shadow: -3.2rem 3.2rem 6.4rem rgba(246, 139, 139, 0.25);
}

.client-testimonial--2 {
  background: linear-gradient(180deg, #e9f7f3, #e7f6f2, #b6e4d7, #3db893);
  box-shadow: 0 3.2rem 6.4rem rgba(12, 166, 120, 0.25);
}

.client-testimonial--3 {
  background: linear-gradient(135deg, #fffaea, #fff9e8, #feedba, #fdd047);
  box-shadow: 3.2rem 3.2rem 6.4rem rgba(245, 159, 0, 0.25);
}

.client-img {
  width: 5.2rem;
  height: 5.2rem;

  /* position: absolute; */
  top: 0;
  left: 0%;
  transform: translate(0, -50%);
  border-radius: 50%;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.15);
}

.client-testimonial .text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 0.2rem solid #fff;
  text-align: center;
}

.client-testimonial .client-name {
  font-size: 1.6rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 0.8rem;
}

.client-testimonial .client-profession {
  font-size: 1.2rem;
  color: #777;
  font-weight: 500;
}

.client-testimonial-nav {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.testimonial-navigation {
  display: flex;
  gap: 3.2rem;
}

.testimonial-navigation .btn {
  background-color: #7a68d7;
  border: none;
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s;
}

.testimonial-navigation .btn:hover,
.testimonial-navigation .btn:active {
  box-shadow: 0 0.8rem 2.4rem rgba(123, 104, 215, 0.9);
}

.testimonial-navigation-icon {
  height: 2rem;
  width: 2rem;
  color: #fff;
}

/* -------------------------------------------------------------------------- */
/*                                  Contacts                                  */
/* -------------------------------------------------------------------------- */

.contacts {
  padding: 9.8rem 0;
}

.contacts-container {
  padding: 4.8rem 6.4rem;
  /* background-color: var(--base-tints--1); */
  background: linear-gradient(135deg, #afa4e7, #554997);
  /* background: linear-gradient(135deg, #5fc570cd, #4a9957); */
  border-radius: 1.1rem;

  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 6.4rem;
  /* align-items: center; */
  column-gap: 3.2rem;
}

.contacts-list-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.6rem;
}

.contacts-list {
  text-decoration: none;
  list-style: none;
}

.contacts-list li {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}

.contacts-list li div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contacts-list li .icon {
  /* width: 3rem;
  height: 3rem; */
  color: #fff;
  --ionicon-stroke-width: 4.8rem;
  padding: 1.2rem;
  border-radius: 50%;
  background-color: red;
}

.contacts-list li .icon--1 {
  background-color: #f03e3e;
}

.contacts-list li .icon--2 {
  background-color: #0ca678;
}

.contacts-list li .icon--3 {
  background-color: #fcc419;
}

.contacts-list li .icon--4 {
  background-color: var(--base);
}

.contacts-list li h4 {
  color: #333;
  font-size: 1.6rem;
  font-weight: 600;
}

.contacts-list li p {
  font-size: 1.4rem;
  color: #555;
  font-weight: 500;
}

.contacts-list li:last-child {
  margin: 0;
}

/* --------------------------------- Message -------------------------------- */

.contacts-message {
  /* padding: 3.2rem 6.4rem; */
  /* background-color: #0b956c; */
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.contacts-message label {
  font-size: 1.6rem;
  color: #333;
  font-weight: 600;
}

.contacts-message ::placeholder {
  padding-top: 0.8rem;
}

.contacts-message .form-group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contacts-message .name,
.contacts-message .email-subject {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
}

.contacts-message .form-control {
  font-family: inherit;
  width: 100%;
  height: 4.8rem;
  border-radius: 0.8rem;
  border: none;
  background-color: var(--bg-darker);
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  padding: 0 1.6rem;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
}

.contacts-message .message {
  height: 9.6rem;
  resize: none;
}

.contacts-message .btn {
  cursor: pointer;
  align-self: center;
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  padding: 1.6rem 8.6rem;
  border-radius: 0.9rem;
  /* background-color: #1a5325; */
  background-color: #251f40;

  color: #fff;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);

  transition: all 0.3s;
}

.contacts-message .btn:hover {
  /* color: #1a5325; */
  color: #554997;
  background-color: #fff;
  /* box-shadow: 0 12px 24px rgba(12, 166, 120, 0.5); */
  box-shadow: 0 1.2rem 2.4rem rgba(123, 104, 215, 0.5);
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

footer {
  margin-top: 4.8rem;
  /* background-color: var(--bg-darker); */
  border-top: 0.2rem solid #f5f5f5;
}

.footer {
  padding: 4.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .title {
  font-family: "Berkshire Swash";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1;
  color: #333;
  letter-spacing: -0.5px;
}

.copyright,
.footer-text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  color: #888;
}

/* ----------------------------------- JS ----------------------------------- */

.hidden {
  display: none;
}

.visible {
  display: block;
}

.home-arrow {
  cursor: pointer;
  position: fixed;
  right: 3.6rem;
  bottom: 3.6rem;
  font-size: 2.4rem;
  padding: 1.2rem;
  background-color: var(--base);
  border-radius: 50%;
  z-index: 900;
  color: #fff;
  --ionicon-stroke-width: 2.4rem;
  transition: box-shadow 0.3s;
}

.home-arrow:hover {
  box-shadow: 0 0.8rem 1.6rem rgba(123, 104, 215, 0.5);
}

.sticky {
  width: 100%;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 999;
}

@keyframes slide-in {
  0% {
    transform: translateY(-10rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(5rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slide-in {
  animation: slide-in 0.3s;
}

.slide-up {
  animation: slide-up 0.3s;
}

.slide-left {
  animation: slide-left 0.5s;
}

.slide-right {
  animation: slide-right 0.5s;
}

.fade-in {
  animation: fade-in 1s;
}

/* -------------------------------- Menu Bar -------------------------------- */

.menu-bar {
  cursor: pointer;
  display: none;
  z-index: 9999;
}

.icon--menu,
.menu--close {
  font-size: 3.6rem !important;
}

/* .bg-dark {
  background-color: var(--bg-dark) !important;
} */
