@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-primary text-light-black-55;
}

/* -------------------------------- Container ------------------------------- */

.container-body {
  @apply mx-auto w-full max-w-[1320px] px-5;
}

/* -------------------------------- Headings -------------------------------- */

.heading-primary {
  @apply font-tertiary text-[52px] leading-[1.1] font-bold text-light-black-33 -tracking-[0.5px] mb-8 capitalize;
}

.heading-secondary {
  @apply font-secondary text-4xl font-bold text-light-black-33 text-center tracking-tight mb-6 capitalize;
}

/* --------------------------------- Content -------------------------------- */

.description {
  @apply text-center -tracking-[0.25px] justify-self-center text-light-black-55 font-medium max-w-[60ch] mb-20 first-letter:capitalize;
}

/* ------------------------------- Scroll Bar ------------------------------- */

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  border-radius: 9px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #adb5bd 0%, #ced4da 100%);
  border-radius: 9px;
  transition: all 1s;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(
    45deg,
    rgba(122, 104, 215, 0.5),
    rgba(122, 104, 215, 0.25)
  );
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
